<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafica-dona
                    [doughnutChartLabels]="graficos.grafico1.labels"
                    [doughnutChartData]="graficos.grafico1.data"
                    [doughnutChartType]="graficos.grafico1.type"
                    [doughnutleyenda]="graficos.grafico1.leyenda">
                </app-grafica-dona>    
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafica-dona
                    [doughnutChartLabels]="graficos.grafico2.labels"
                    [doughnutChartData]="graficos.grafico2.data"
                    [doughnutChartType]="graficos.grafico2.type"
                    [doughnutleyenda]="graficos.grafico2.leyenda">
                </app-grafica-dona>       
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafica-dona
                    [doughnutChartLabels]="graficos.grafico3.labels"
                    [doughnutChartData]="graficos.grafico3.data"
                    [doughnutChartType]="graficos.grafico3.type"
                    [doughnutleyenda]="graficos.grafico3.leyenda">
                </app-grafica-dona>       
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafica-dona
                    [doughnutChartLabels]="graficos.grafico4.labels"
                    [doughnutChartData]="graficos.grafico4.data"
                    [doughnutChartType]="graficos.grafico4.type"
                    [doughnutleyenda]="graficos.grafico4.leyenda">
                </app-grafica-dona>       
            </div>
        </div>
    </div>
</div>